body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.Logout{
    position: relative;
    top: 550px;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    position:relative;
    width: 250px;
    background-color: #122a79;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar img {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.Logout{
    position: relative;
    width: 80%;
    top: 550px;
    
    padding: 7px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.sidebar button.active {
    background-color: white;
}

.sidebar button:hover {
    background-color: #457ac1;
}

.main-content {
    flex: 1;
    padding: 20px;
    background: linear-gradient(120deg, #f4f4f4, #d7e7ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    text-align: center;
    color: #3466af;
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container .form-group input, 
.form-container .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #3466af;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #29508a;
}

.hidden {
    display: none;
}