*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body{
    background-image: url('/img/GO\ FOR\ GROWTH\ \(5\).jpg');
    background-size: cover;
}
input{
    display: block;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.box{
    border: 2px solid rgb(8, 22, 224, 0.911);
    backdrop-filter: blur(20px);
    height: 400px;
    width: 450px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: bold;
    text-align: center;
    
}

#email,#password{
    width: 60%;
    height: 45px;
    padding: 0 30px 0;
    margin: 10px;
    color: #000000;
    background: rgba(21, 104, 172, 0.507);
    border: none;
    border-radius: 10px;
    outline: none;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}  

#forgot{
    width: 60%;
    height: 45px;
    padding: 0 30px 0;
    margin: 15px;
    color: #000000;
    background: rgba(207, 19, 19, 0.815);
    border: none;
    border-radius: 10px;
    outline: none;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}

p{
    font-size: 18px;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.log{
    font-weight: 500;
    color: purple;
}







/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffa500;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #e59400;
}

.error {
    color: red;
    font-size: 12px;
} */